body {
  background-color: #22396A;
  color: white;
  margin: 20px 20px 30px 20px;
  font-family: sans-serif;
  font-weight: lighter;
}
.headings {
  color: #32BB66;
  margin-top: 40px;
}
#information {
  font-weight: 400;
}
#experience {
  color: #32BB66;
  margin-top: 40px;
  margin-bottom: -25px;
}
#skills {
  color: #32BB66;
  margin-top: 40px;
  margin-bottom: 40px;
}
.subHeadings {
  margin-top: 40px;
}
.links {
  color: #E12550;
  text-decoration: underline;
  display: inline-block;
  padding-right: 20px;
  font-weight: 500;
}
